.LandingPage {
    margin: auto;
    padding: 15px;
    margin-top: 100px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    background-color: aliceblue
}

.LandingPage a {
    border: 6px solid #C5979D;
    padding: 10px
}

.LandingPage p {
    text-align: center;
    padding-bottom: 10px
}

.btn:hover {
    color: #C5979D;
}


@media screen and (max-width: 500px) {
    .LandingPage {
        margin-top: 60px;
        width: 80%;
    }
}