.header {
    padding: 0px;
    font-size: 18px;
    margin-left: 20px;
    width: 20%;
}

.header h1 {
    color: white;

}

.header h1:hover {
    color: #1A090D
}



@media screen and (max-width: 500px) {
    .header h1:hover {
        text-decoration: none;
    }
}